extends layout 

block content 

  footer
    div.footer 
      div.menu
        p
          a(href = './') Home
        p
          a(href = './services') Our Services 
        p
          a(href = './contact') Contact us
      div.contact
        p Lamine Boukout DIATTA 
        p E-mail : lbday48@gmail.com
        p Tel : + 221 77 00 00 00
      div.partener
        p Orange 
        p Sonatel
        p Free
        p ProMobile
        p Expresso
    div.base
      small © 2023 Alamine Inc. All rights reserved.